PORT=3001
DB_FINA=G:/Sample.fdb
DB_FINA_PORT=3051
DB_FINA_HOST=localhost
JWT_SECRET=secretsahabatmitra
SMI_MONGO_URI=mongodb://smi20:sahabatMi2020@localhost:27017/smi?authSource=smi
ENABLE_DB_LOG=true